/*
Theme Name:     UCF CS&T
Theme URI:      http://theme.crumina.net/glider/
Description:    Child theme of the Glider theme.
Author:         Findsome & Winmore
Author URI:     http://www.findsomewinmore.com
Template:       Glider
*/


body, .tour-block p, .tabs.vertical dd a, .tabs.vertical li a, .button, .submitbutton, #commentform #submit, .button-primary, .btn, .comment-author a.comment-reply-link, .wpb_toggle_content, table tbody tr td, table thead tr th, table tfoot tr td, .skills_widget .skill-percent, #layout .tags-widget a, .wpb_content_element .ui-tabs .ui-tabs-nav a, #content .wpb_accordion .ui-accordion .ui-accordion-header a, .wpb_accordion .ui-accordion .ui-accordion-header a, .team-value, label, .soc-head-icons a:hover, .info-box p, .tabs.vertical dd a:active, ul.accordion p, #header .phone, .entry-title, .box-name, .comment-author .fn, .project-title a, #top-menu .link-text, .quoteCite .quote-author, .entry-title, .box-name, .about_author_widget .quote-author, .team-photo h4 a, .project-info, .project-info a, .crum_stiky_news .blocks-text, .wp-caption .wp-caption-text, .gallery-caption, .entry-caption, .person-list, .person-list strong, .pricing-table .title, .pricing-table .bullet-item, .post-links ul li a, .tour-block p, h4.box-name a {
	color:#494949;
}

.footer-menu a:hover, a.back:hover, #top-menu > ul > li:hover .tile-icon, .recent-block .tabs.horisontal dd a:hover, .recent-block .tabs.horisontal dd.active a, .dopinfo a.comments, .dopinfo a:hover, .entry-title a:hover, .post header > div > h3 a:hover, .widget_crum_galleries_widget h4.box-name a:hover, .menu-item-wrap:hover:before, .filter li a:hover, .filter li.active a, .feature-box.al-center:hover .icon, .feature-box.al-left:hover .icon, .feature-box.al-right:hover .icon, .backtotop, .share-icons a:hover, #open-top-panel:hover, #open-top-panel.active, .page-nav .older:hover, .page-nav .newer:hover {
	color:#c90;
}

body {color:#494949;}

#main-content > h3 {
    margin: 1.5em 0px .5em;
}

#UCFHBHeader {-moz-box-sizing:content-box;box-sizing: content-box;position:relative;z-index:9999;}

#change_wrap_div {background:url(/wp-content/themes/glider-child/images/gradient.png) repeat-x 0 -68px}


#top-panel,
.top-panel-inner,
#open-top-panel, #top-panel .top-panel-inner,
#top-panel .top-panel-inner, #open-top-panel:hover, #open-top-panel.active {
	background-color:#c90;
}

#top-panel a {
	color:#fff;
}

#top-panel .tptn_list_count { display:none; }
#top-panel h3 {
	text-align: left;
}

#top-panel h3 {
	color: #fff;
	font-size: 23px;
	margin-bottom: 25px;
	font-weight:normal;
}

#top-panel .tptn_posts ul {
	list-style:none;
}

#top-panel .tptn_posts ul li a {
	display: block;
margin-left: 0;
padding: 10px 5px 10px 15px;
border-top: 1px dotted #fff;
position: relative;
text-transform: uppercase;
}

#top-panel .tptn_posts ul li a:hover {
	background:#fff;
	color:#c90;
}

#open-top-panel {
	border-color:#c90;
	color:#fff;
}

#open-top-panel:before {
	color:#fff;
}

#header #logo h1 {
	line-height: 1em;
	margin-top: .5em;
}

#header #logo h1 a {
	color:#000;
}

#header #logo h1 a:hover {
	color:#c90;
}

#header.horizontal #top-menu > ul > li > .menu-item-wrap,
#header #drop-top-menu .menu > li > .menu-item-wrap {text-align:left;width:auto;} /*Fixes an issue with the Font Awesome icons having a set width */

#header #top-menu > ul > li > .menu-item-wrap:before {
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    margin-left: .2em;}

#header .menu {
	margin-bottom:10px;
}

#header .menu > li {
	min-height:55px;
	display: block;
	margin-right: 50px;
	width:auto;
}

.lt-ie9 #header .menu > li {
	margin-right:35px;
}

#header .menu > li:last-child {
	margin-right:0;
}

#header .menu > li > ul,
#header .menu > li:last-child > ul {
	top:55px;
	margin-right: -123px;
	right: 50%;
}

#header #drop-top-menu .menu > li > ul {
	margin-right:0;
	right:auto;
}



#header .menu > li> .menu-item-wrap a {
	display: block;
padding-left: 55px;
}

#header #drop-top-menu .menu > li > .menu-item-wrap a {
	padding-left:0;
}

#header .menu > li ul li .link-text {
	padding: 8px 15px 8px 15px;
}

.has-submenu > span .link-text {
background-position: 95% 50%;
}

@media  (min-width: 769px) and (max-width: 1024px) {
	#header .menu > li> .menu-item-wrap a {
		padding-left:41px;
	}

	#header .menu .link-desc {
		margin-left: 0;
	}
}

@media  (min-width: 767px) and (max-width: 900px) {
	#header .menu > li> .menu-item-wrap a {
		padding-left:33px;
	}
	#top-menu .menu > li > .menu-item-wrap .link-text {
		margin-top:0;
	}

	.has-submenu > span .link-text {
		padding-right: 18px;
	}
}

#stuning-header {
	background-color:#57585b;
	padding-top:15px;
	height:111px;
}

#stuning-header #page-title {
	padding-bottom:15px;
	margin-bottom:0;
	width:75%;
	margin-left:25%;
	text-align:left;
	padding-left:0;
}

.backtotop:hover,
#stuning-header h1,
#stuning-header h1.page-title,
#stuning-header a.back:hover,
#stuning-header .breadcrumbs a:hover {
color: #FFCA06;
border-color: #FFCA06;
}

#open-top-panel {
margin-left:-52px;
-webkit-transform:rotate(0);
transform:rotate(0);
left:50%;
bottom: -23px;
}

#header .soc-head-icons {margin: 36px 70px 0 0; } /*Fixing layout issue in the header area */



@media  (max-width: 767px) {
	#header .soc-head-icons {margin: 20px 0; }
}

@media  (max-width:860px) {
	body #stuning-header {
		height: auto;
	}

	#stuning-header .back {
		display:none;
	}
}

#searchsubmit {top: 0;} /*Fixing layout issue in the header area */

#fullWidth {
	background: #57585b;
	color:#fff;
     margin-bottom: 22px;
	padding-top: 2em;
    padding-bottom: 2em;
}

#fullWidth #crum-text-widget-2 {
	margin: 0 -10px;
}

#fullWidth .columns .content {
	background:#606263;
	border:1px solid #404142;
	padding:2em 1.5em;
	height:205px;
}

#fullWidth h2 {
	text-align:center;
	font-size:2.5em;
	font-weight:bold;
	color:#fff;
	margin-bottom: .25em;
}

#fullWidth h3 {
	margin-bottom:.25em;
}

#fullWidth h4 {
	font-size: 14px;
	font-weight:400;
}

#fullWidth .button {
	background:#fff;
	border-color:#fff;
	display:block;
	font-size:14px;
	font-weight:400;
	margin:.5em 0 0;
	text-align:left;
}

#fullWidth .button:hover {
	background:#c90;
	border-color:#c90;
}

#fullWidth .button a {
	color:#c90;
}

#fullWidth .button:hover a {
	color:#fff;
}

#fullWidth .button a:before {
	margin-right: 1em;
	margin-left: -0.55em;
	margin-top: 3px;
	display: block;
	float: left;
}

#fullWidth .helpCTASolutions ul {
	margin-top:2em;
}

#fullWidth .helpCTASolutions .button {
	margin:.75em 0 0;
}

#fullWidth .helpCTAContact .button {
	margin-top:1em;
}

#fullWidth .helpCTAContact h4 {
	margin-bottom: .5em;
}

#fullWidth .giantButton .content {
	padding:3px;
}

#fullWidth .giantButton a {
	background: #C90;
	display: block;
	width: 100%;
	text-align: center;
	height: 198px;
	line-height: 198px;
	-webkit-transition: all 0.15s ease-in-out;
	-moz-transition: all 0.15s ease-in-out;
	-o-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
}

#fullWidth .label {
	background:#57585b;
}




#fullWidth .widget {margin:0;}

#fullWidth .modularBlock {
	min-height:205px;
	padding:0;
	margin:0;
	color:#694f00;
}

#fullWidth .modularBlock h3 {
	margin:1em 0 .25em;
}

#fullWidth .modularBlock p {
	color:#694f00;
	margin:1em 0 0;
}

#fullWidth .modularBlock a {
	color:#876500;
	text-decoration: none;
}

.modularBlock .column {
	padding:0;
	margin:0;
}

.modularBlock .column,
.modularBlock .column>div {
	float:left;
}

.modularBlock .column>div>div {
	background:#ffe78f;
	margin:3px;
	padding:10px;
	font-weight:bold;
	color:#694f00;
}

.modularBlock .column>div>div:hover {
	background:#f7d865;
}

.fullWidthLink {
	display:block;
	text-align: center;
}

.topleft, .smallSquare {
	float:left;
	width:10%;
}

.fortyFivePercent {
	width:45%;
}

.fortyPercent {
	width:40%;
}

.thirtyFivePercent {
	width:35%;
}

.thirtyPercent {
	width:30%;
}

.twentyFivePercent {
	width:25%;
}

.twentyPercent {
	width:20%;
}

.fifteenPercent{
	width:15%;
}

.tenPercent {
	width:10%;
}

.fiftyPercent {
	width:50%;
}

.sixtyPercent {
	width:60%;
}

.seventyPercent {
	width:70%;
}

.eightyPercent {
	width:80%;
}
.hundredPercent {
	width:100%;
}

.thirdHeight>div {
	min-height:85px;
}

.twoThirdsHeight>div {
	min-height:115px;
}

.fullHeight>div {
	min-height:206px;
}

.clearLeft {
	clear:left;
}

.largeIcon {
	font-size:32px;
	display:block;
	clear:both;
	margin-bottom:5px;
	margin-top:5px;
	text-align: center;
}

#fullWidth .columns .content {
	border:none;
}

#fullWidth .giantButton .content {
background: #c90;
border:none;
}

#fullWidth .modularBlock .button {
	background:#c90;
	color:#fff;
	border-color:#c90;
}

#fullWidth .modularBlock .button a {
	color:#fff;
}


#fullWidth .button:hover {
	background:#dfa700;
	border-color:#dfa700;
}

#fullWidth .giantbutton a {
background: #C90;
}

#fullWidth .twoLineList {
	margin-top:15px;
	margin-left:0px;
}

/* Dark background colors */
#fullWidth .gold>div,
#fullWidth .gold>div a,
#fullWidth .gold>div a i,
#fullWidth .gold>div h3,
#fullWidth .maroon>div,
#fullWidth .maroon>div a,
#fullWidth .maroon>div a i,
#fullWidth .maroon>div p,
#fullWidth .darkgreen>div,
#fullWidth .darkgreen>div a,
#fullWidth .darkgreen>div p,
#fullWidth .darkgreen>div a i,
#fullWidth .blue>div,
#fullWidth .blue>div a,
#fullWidth .blue>div a i,
#fullWidth .blue>div p {
	color:#fff;
}

#fullWidth .label {
	background:#c90;
}

#fullWidth .darkgreen>div {
	background:#158758;
}

#fullWidth .darkgreen>div:hover {
	background:#28ab72;
}

#fullWidth .gold>div {
	background:#c90;
}

#fullWidth .gold>div:hover {
	background:#e7ad00;
}
#fullWidth .maroon>div {
	background: #700303;
}

	#fullWidth .maroon>div:hover {
		background:#890404;
	}

#fullWidth .blue>div {
	background:#0096bc;
}

	#fullWidth .blue>div:hover {
		background:#23abd2;
	}

#fullWidth .yellow>div {
	background:#ffca06;
}

	#fullWidth .yellow>div:hover {
		background:#ffd332;
	}

	#fullWidth .yellow>div .label {
		background:#c90;
	}

#fullWidth .iPhonePortrait {
	display:none;
}

@media  (min-width:768px) and (max-width: 1024px) {

}

@media  (max-width:1050px) {
	#fullWidth .twoLineList {
		margin-top:0;
	}
}

@media  (max-width:1000px) {
	.bottomleft>div p {
		font-size:.95em;
	}
}

@media  (max-width:900px) {

	#fullWidth .notMobile {
		display:none;
	}
	#fullWidth .column.twentyPercent {
	width:30%;
	}

#fullWidth .column.fortyFivePercent {
	width:55%;
	}
}

@media  (max-width: 795px) {
	#fullWidth .button {
		font-size:13px;
	}
}

@media  (max-width: 768px) {
	#fullWidth .column>div>div{
		min-height:0;
	}

	#fullWidth div.image>div {
		height:105px;
	}

	#fullWidth .column.twentyPercent,
	#fullWidth .column.fifteenPercent {
		width:50% !important;
	}

	#fullWidth .column.fortyFivePercent {
		width:100% !important;
	}

	#fullWidth .column .content {
		height:auto;
	}

}

@media (max-width:380px) {
	#fullWidth .column.twentyPercent,
	#fullWidth .column.fifteenPercent {
		width:100% !important;
	}

	#fullWidth .notiPhonePortrait {
		display:none;
	}

	#fullWidth .iPhonePortrait {
		display:block;
	}
}

#footer h1,  #footer h2,  #footer h3,  #footer h4,  #footer h5,  #footer h6 {
color:#404346;
}

#footer a {
	color:#c90;
}

#footer .widget_nav_menu a,
#footer .pageList a,
#footer .widget_nav_menu li.current-menu-item>a {
    display: block;
    margin-left: 0;
    padding: 5px 5px 5px 2px;
	border-top:none;
    position: relative;
    color:#299652;
    font-style: normal;
    text-transform:none;
    border-radius: 2px;
    background:none;
}
#footer .widget_nav_menu li ul,
#footer .pageList li ul {
    padding-left: 15px;
}

#footer .pageList li {
	float:left;
	margin-right:1%;
	width:48%;
}


#footer .pageList li a:hover,
#footer .widget_nav_menu li a:hover{
    background-color: #299652;
    color: #fff;

}

#footer .widget-title {
margin: 0 0 10px;
}

#footer .widget-title i {
	display:none;
}

#footer h2 {
font-weight:bold;
}

#footer h3 {
font-weight:bold;
margin:1.5em 0 .75em;
}

#footer .content:first-child h3 {
margin-top:0;
}


#footer .button:hover a {
color:#fff;
}

#footer .button {
border-color:#d1d1d1;
font-weight:400;
margin:.75em 0 0;
}

#footer .button a,
.button a {
cursor:pointer;
}

#footer .button a:before {
margin-right: 1em;
margin-left: -0.55em;
margin-top: 3px;
display: block;
float: left;
}

#footer .button:hover {
border-color:#c90;
}

#footer .label {
background:#b0b0b0;
}

#footer .giantButton a {
	display:block;
	background:#299652;
	border-radius: 2px;
	border: 2px solid #107034;
}

#sub-footer {
background:#e6e6e6;
}

h4.wpb_toggle,
.wpb_toggle {
min-height: 24px;
font-size: 20px;
cursor:pointer;
}

#pgc-0-2 .panel {
	padding:1em 1.5em 2em;
	background:#41b16b;
	color:#fff;
}
#pgc-0-2 .panel h3,
#pgc-0-2 a {
color:#fff;
}
#pgc-0-2 h3 i {
display:none;
}

@media  (max-width: 767px) {
#pg-0 .panel-grid-cell {
	float:none;
	width: auto;
}
}

.post-tags .post-categories {
display:inline;
}
.post-tags .post-categories li {
display:inline;
font-weight: 400;
font-size: 11px;
font-style: italic;
}


.networkSystemStatus{
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

.networkSystemStatus h3.widget-title i:before {
	content: "\f0e4";
	color:#fff;
}

#layout .networkSystemStatus ul {
	list-style:none;
	margin: 15px 0;
}

.networkSystemStatus li {
	font-size:1em;
	line-height:16px;
	margin-bottom:1em;
}

.networkSystemStatus li:before {
	float:left;
	font-size: 16px;
	color:#fff;
}


.networkSystemStatus .statusBad,
.networkSystemStatus .statusBad:before {
	color:#f10000;
}

.networkSystemStatus .statusIffy,
.networkSystemStatus .statusIffy:before {
	color:#f59d13;
}

.networkSystemStatus .statusGood,
.networkSystemStatus .statusGood:before {
	color:#299652;
}


.networkSystemStatus .has-tip {
	margin:0 14px;
	line-height:16px;
}

.sidebar-left .widget_crum-text-widget .widget-title i {
	display:none;
}

.sidebar-left .networkSystemStatus {
margin-bottom:40px;
}

.sidebar-left .networkSystemStatus li {
	font-size: 1em;
}

.wpb_toggle_content {
display: none;
overflow: hidden;
padding: 0px 0px 0px 25px;
margin-top: 1em;
}

.catalogListing {}
.catalogListing h2 {
margin-bottom: 1em;
margin-top: 1.5em;
}
.catalogListing ul li {
list-style:none;
}
.catalogListing ul li ul {
margin-left:0;
}
.catalogListing h4.wpb_toggle,
.serviceCatSidebar .catalogListing h2.wpb_toggle
 {
font-size: 16px;
font-weight:normal;
line-height: 24px;
margin: 0 0 12px 0;
}

.serviceCatSidebar .catalogListing h2.wpb_toggle {
	color:#c90;
	font-weight:bold;
}
.serviceDetails h4 {
	margin-bottom:0;
}
.serviceDetails p {
	color:#333;
}

#footer h3.widget-title {
	padding-bottom:0;
}

#footer .catalogListing li {
	font-size: 1em;
	margin-top:0;
	margin-bottom:5px;
	background: url(/wp-content/themes/Glider/assets/img/arrow-list.png) 2px 4px no-repeat;
	padding-left: 17px;
}

#footer .catalogListing li a {
	color:#404346;
}

#footer .catalogListing h4.wpb_toggle {
	font-size:14px;
	background:none !important;
	padding-left:20px !important;
	line-height:1.2em;
	margin-bottom:.5em;
	min-height:0;
	position:relative;
}

#footer .catalogListing h4.wpb_toggle:before {
	display: inline-block;
	speak: none;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    content: "\f055";
    position:absolute;
    left:0;
	line-height:1.2em;
}

#footer .catalogListing h4.wpb_toggle_title_active:before { content: "\f056";}

#footer .catalogListing .wpb_toggle_content {
	margin-top:0;
	padding-left:20px !important;
}

#footer .catalogListing .catalogCategory {

	margin-bottom:1em;

}
#footer .catalogListing .column {
padding-left:0;
}
#footer .catalogListing .last_toggle_el_margin {
	display:none;
}

#sub-footer .menu-footer-navigation-container a {
	color:#424242;
}

.widget-title {
margin-bottom:5px;
}

.widget-title .icon {
	margin-right:8px;
}

.upcomingMaintenanceListing .recent-posts-list li,
.widget_tribe-events-list-widget .recent-posts-list li {
	margin-bottom:10px;
}

.widget_nav_menu .widget-title,
.widget_nav_menu .widget-title a,
.widget_wenderhost-subpages .widget-title,
.widget_wenderhost-subpages .widget-title a,
.serviceCatSidebar .catalogListing .widget-title a {
	color:#494949;
}

.serviceCatSidebar .catalogListing .open {
	display:block;
}

.widget_nav_menu .widget-title i,
.widget_wenderhost-subpages .widget-title i {
display:none;
}

.widget_nav_menu ul li,
.widget_wenderhost-subpages ul li {
border:none;
font-weight:bold;
font-size:1.15em;
padding: 0 0 7px 20px;
margin: 0;
list-style: none;
background: url(/wp-content/themes/glider-child/images/sidebar-dash.png) 4px 9px no-repeat;

}

.widget_nav_menu ul li.slide_toggle,
.widget_wenderhost-subpages ul li.slide_toggle {
	background:none;
	position: relative;
}

.widget_nav_menu ul li>div.sidebar_toggle_button,
.widget_wenderhost-subpages ul li>div.sidebar_toggle_button {
	background:url(/wp-content/themes/glider-child/images/sidebar-toggle-closed.png) top left no-repeat;
	display:block;
	position: absolute;
	left:0;
	width:13px;
	height:13px;
	top:4px;
	cursor: pointer;
}

.widget_nav_menu ul li.sidebar_active>div.sidebar_toggle_button,
.widget_wenderhost-subpages ul li.sidebar_active>div.sidebar_toggle_button {
	background:url(/wp-content/themes/glider-child/images/sidebar-toggle-open.png) top left no-repeat;
}

.js_active .widget_nav_menu ul.children,
.js_active .widget_nav_menu ul.sub-menu,
.js_active .widget_wenderhost-subpages ul.children {
	display:none;
}

.widget_nav_menu ul li a {
	border:none;
	color:#c90;
	padding:0;
}

.widget_nav_menu ul li a:hover {
	background:none;
	color:#ffca06;
}

.widget_nav_menu ul ul,
.widget_wenderhost-subpages ul ul {
margin-left:0;
margin-top:7px;
}

.widget_nav_menu ul ul li,
.widget_wenderhost-subpages ul ul li {
font-weight:normal;
font-size:1em;
padding-bottom:0;
padding-left:17px;
}

.widget_nav_menu ul ul li a,
.widget_wenderhost-subpages ul ul li a {
	color:#626262;
}

.widget_nav_menu ul ul li a:hover,
.widget_wenderhost-subpages ul ul li a:hover {
	color:#272727;
}

.widget_nav_menu ul ul ul,
.widget_wenderhost-subpages ul ul ul {
margin-left:10px;
}

.soc-head-icons a, #header .phone .icon-mobile, .info-box .icon, a.back, .quote:before, .skills_widget .skill-percent span, .share-icons a, .widget-title .icon, .feature-box.al-center .icon, .service-icon span, .icon-format:before, .extra-links a, .extra-links, .extra-links a:before, .tile-icon, .menu-item-wrap:before, .feature-box .icon, a.back, .page-nav .older, .page-nav .newer, article.post header time .month {
	color: #ffca06;
	border-color: #ffca06;
}

#panel-0-1-0 {
	margin-bottom:0;
}

.home #pg-5-0 .panel .soc-head-icons a,
.home #pg-5-0 .panel #header .phone .icon-mobile,
.home #pg-5-0 .panel .info-box .icon,
.home #pg-5-0 .panel a.back,
.home #pg-5-0 .panel .quote:before,
.home #pg-5-0 .panel .skills_widget .skill-percent span,
.home #pg-5-0 .panel .share-icons a,
.home #pg-5-0 .panel .widget-title .icon,
.home #pg-5-0 .panel .feature-box.al-center .icon,
.home #pg-5-0 .panel .service-icon span,
.home #pg-5-0 .panel .icon-format:before,
.home #pg-5-0 .panel .extra-links a,
.home #pg-5-0 .panel .extra-links,
.home #pg-5-0 .panel .extra-links a:before,
.home #pg-5-0 .panel .tile-icon,
.home #pg-5-0 .panel .menu-item-wrap:before,
.home #pg-5-0 .panel .feature-box .icon,
.home #pg-5-0 .panel a.back,
.home #pg-5-0 .panel .page-nav .older,
.home #pg-5-0 .panel .page-nav .newer,
.home #pg-5-0 .panel article.post header time .month,
.home #pg-5-1 .panel .soc-head-icons a,
.home #pg-5-1 .panel #header .phone .icon-mobile,
.home #pg-5-1 .panel .info-box .icon,
.home #pg-5-1 .panel a.back,
.home #pg-5-1 .panel .quote:before,
.home #pg-5-1 .panel .skills_widget .skill-percent span,
.home #pg-5-1 .panel .share-icons a,
.home #pg-5-1 .panel .widget-title .icon,
.home #pg-5-1 .panel .feature-box.al-center .icon,
.home #pg-5-1 .panel .service-icon span,
.home #pg-5-1 .panel .icon-format:before,
.home #pg-5-1 .panel .extra-links a,
.home #pg-5-1 .panel .extra-links,
.home #pg-5-1 .panel .extra-links a:before,
.home #pg-5-1 .panel .tile-icon,
.home #pg-5-1 .panel .menu-item-wrap:before,
.home #pg-5-1 .panel .feature-box .icon,
.home #pg-5-1 .panel a.back,
.home #pg-5-1 .panel .page-nav .older,
.home #pg-5-1 .panel .page-nav .newer,
.home #pg-5-1 .panel article.post header time .month,
.home #pg-5-0 .networkSystemStatus .soc-head-icons a,
.home #pg-5-0 .networkSystemStatus #header .phone .icon-mobile,
.home #pg-5-0 .networkSystemStatus .info-box .icon,
.home #pg-5-0 .networkSystemStatus a.back,
.home #pg-5-0 .networkSystemStatus .quote:before,
.home #pg-5-0 .networkSystemStatus .skills_widget .skill-percent span,
.home #pg-5-0 .networkSystemStatus .share-icons a,
.home #pg-5-0 .networkSystemStatus .widget-title .icon,
.home #pg-5-0 .networkSystemStatus .feature-box.al-center .icon,
.home #pg-5-0 .networkSystemStatus .service-icon span,
.home #pg-5-0 .networkSystemStatus .icon-format:before,
.home #pg-5-0 .networkSystemStatus .extra-links a,
.home #pg-5-0 .networkSystemStatus .extra-links,
.home #pg-5-0 .networkSystemStatus .extra-links a:before,
.home #pg-5-0 .networkSystemStatus .tile-icon,
.home #pg-5-0 .networkSystemStatus .menu-item-wrap:before,
.home #pg-5-0 .networkSystemStatus .feature-box .icon,
.home #pg-5-0 .networkSystemStatus a.back,
.home #pg-5-0 .networkSystemStatus .page-nav .older,
.home #pg-5-0 .networkSystemStatus .page-nav .newer,
.home #pg-5-0 .networkSystemStatus article.post header time .month
.home #pg-5-0 .widget_tribe-events-list-widget .soc-head-icons a,
.home #pg-5-0 .widget_tribe-events-list-widget #header .phone .icon-mobile,
.home #pg-5-0 .widget_tribe-events-list-widget .info-box .icon,
.home #pg-5-0 .widget_tribe-events-list-widget a.back,
.home #pg-5-0 .widget_tribe-events-list-widget .quote:before,
.home #pg-5-0 .widget_tribe-events-list-widget .skills_widget .skill-percent span,
.home #pg-5-0 .widget_tribe-events-list-widget .share-icons a,
.home #pg-5-0 .widget_tribe-events-list-widget .widget-title .icon,
.home #pg-5-0 .widget_tribe-events-list-widget .feature-box.al-center .icon,
.home #pg-5-0 .widget_tribe-events-list-widget .service-icon span,
.home #pg-5-0 .widget_tribe-events-list-widget .icon-format:before,
.home #pg-5-0 .widget_tribe-events-list-widget .extra-links a,
.home #pg-5-0 .widget_tribe-events-list-widget .extra-links,
.home #pg-5-0 .widget_tribe-events-list-widget .extra-links a:before,
.home #pg-5-0 .widget_tribe-events-list-widget .tile-icon,
.home #pg-5-0 .widget_tribe-events-list-widget .menu-item-wrap:before,
.home #pg-5-0 .widget_tribe-events-list-widget .feature-box .icon,
.home #pg-5-0 .widget_tribe-events-list-widget a.back,
.home #pg-5-0 .widget_tribe-events-list-widget .page-nav .older,
.home #pg-5-0 .widget_tribe-events-list-widget .page-nav .newer,
.home #pg-5-0 .widget_tribe-events-list-widget article.post header time .month {
  color:#c90;
  border-color: #c90;
}

.home #layout .panel-grid h3 i {
	display:none; /* This hides all of the icons on the homepage in the secondary widget area that the theme automatically includes */
}


.home #layout .widget_crum_block_button {
	text-align: left;
}

.panel-grid-cell {
	padding: 0 10px;
}

.panel-grid {
	margin: 0 -10px;
}

.home #pg-5-0 .panel,
.home #pg-5-0 .networkSystemStatus,
.home #pg-5-0 .widget_tribe-events-list-widget {
	background:#f2f2f2;
	border:1px solid #404346;
	padding:15px;
}

.home #pg-5-0 .panel h3.widget-title,
.home #pg-5-0 .networkSystemStatus h3.widget-title,
.home #pg-5-0 .widget_tribe-events-list-widget h3.widget-title {
	background:#404346;
	color:#fff;
	margin:-15px -15px 15px -15px;
	padding:5px 15px;
}

.home #pgc-5-0-2 .panel,
.home #pg-5-0 .panel,
.home #pg-5-0 .networkSystemStatus,
.home #pg-5-0 .widget_tribe-events-list-widget {
	min-height: 222px;
}


.home #pgc-5-0-1 .panel-first-child {
	padding-bottom:0;
	border-bottom:none;
	min-height:170px;
}

.home #pgc-5-0-1 .panel-first-child .recent-posts-list li {
	margin-bottom: 8px;
}

.home #pgc-5-0-1 .panel-first-child .entry-summary {
	line-height:18px;
	color:#494949;
}

.home #pgc-5-0-1 .panel-last-child {
	padding-top:0;
	border-top:none;
	min-height: 0;
}


.home #pg-5-0 .networkSystemStatus .widget-title {
	color:#fff;
}

.home #pg-5-0 .recent-posts-list {
	margin: 0;
}

/*
.home #pgc-5-1-2 .widget-title i.icon:before,
.home #pgc-5-1-1 .widget-title i.icon:before,
.home #pgc-5-1-0 .widget-title i.icon:before {
	font-family: "fontello";
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    margin-left: .2em;
}

.home #pgc-5-1-2 .widget-title i.icon:before {
	content: '\e028';
}

.home #pgc-5-1-1 .widget-title i.icon:before {
	content: '\e011';
}

.home #pgc-5-1-0 .widget-title i.icon:before {
	content: '\e00d';
}

.home #pgc-5-0-0 .widget-title i.icon:before {
	content: '\e02b';
} */


#pg-5-0, .panel-grid-cell .panel {
	margin-bottom: 20px;
}

.home #pg-5-1 .panel {
	background:none;
	padding:0;
}

#footer .catalogListing li a {
	color:#404346;

}

.home #pg-5-1 .panel li {
	background: url(/wp-content/themes/Glider/assets/img/arrow-list.png) 2px 4px no-repeat;
	font-size: 1em;
	font-weight:normal;
	padding:0 0 0 17px;
}

.home #pg-5-1 .panel li a {
	color:#404346;
	padding:0;
	margin:0 0 5px;
	border:none;

}

.home #pg-5-1 .panel li a:hover {
	background:none;
	color:#c90;
}


article.post header time .month,
.soc-head-icons a {
	color:#c90;
}

@media  (max-width: 767px){
.home #layout .twelve .panel-grid-cell,
#pgc-5-0-0, #pgc-5-0-1, #pgc-5-0-2, #pgc-5-1-0, #pgc-5-1-1, #pgc-5-1-2 {
	width:100%;
	margin:15px 0;
}
}

.widget_nav_menu a {
	border-color:#c3c3c3;
	font-style:normal;
	text-transform: none;
}

#layout .widget_widget_tptn_pop ul li a {
	display: block;
	margin-left: 0;
	padding: 10px 5px 10px 15px;
	border-top: 1px dotted #c3c3c3;
	position: relative;
	color: #878F93;
	border-radius: 5px;
}

#layout .widget_widget_tptn_pop ul li a:hover {
	background-color: #C90;
    color: #fff;
}

#layout .widget_widget_tptn_pop .tptn_list_count {
	display:none;
}

.has-tip:hover {
	color:#c90;
}

.serviceCatSidebar #wenderhostsubpages-2 {
	display:none;
}

.serviceCatSidebar .catalogListing {
	margin-bottom: 40px;
}

.serviceCatSidebar .catalogListing h3.widget-title i {
	display:none;
}

.serviceCatSidebar .catalogListing h4.wpb_toggle {
	font-size:14px;
	background:none !important;
	padding-left:20px !important;
	line-height:1.2em;
	margin-bottom:.5em;
	min-height:0;
	position:relative;
	font-style: normal;
}

.serviceCatSidebar .catalogListing h4.wpb_toggle:before {
	display: inline-block;
	speak: none;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: .2em;
    content: "\f055";
    position:absolute;
    left:0;
	line-height:1.2em;
}

.serviceCatSidebar .catalogListing .wpb_toggle_content .wpb_toggle_content {
margin-top: 0;
padding-left: 20px !important;
}

.topCatalogList ul li {
	list-style:none;
}

.topCatalogList ul ul {
	margin-left:0;
}

.no-js .wpb_toggle_content {
display: block;
}

.quoteCite .quote-sub, .about_author_widget .additional-links span, .about_author_widget .quote-sub, .comment-author time, .post-info, .dopinfo, .tweet .time, .tags-widget a, .widget_rss_mail_subscribe {
color: #66696b;
}
